body.cms{
	background: $grey;

}
.cmswrapper{
	width: 95%;
    margin: 41px auto;
    color: white;
	.main{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		background-color: #2F3F48;
	    border-radius: 7px;
	    box-shadow: 0 0 15px black;
	    overflow: hidden;
	}
	.left-nav{
	  background-color: #21343D;
	  color: #ffffff;
	  padding: 16px;

		font-size:1.3em;
	    box-shadow: 0 0 20px #00000061;
	}
	.chevron{
	  fill: #ffffff;
	  width: 16px;
	}
	.left-nav__title{
	  padding: 8px;
	  margin-top:10px;
	  a{
	  	color:white;
	  }
	}
	.content{
		width: 100%;
	  	padding: 20px;

		table{
			border-collapse: collapse;
			width: 100%;
			thead{
				th{
					border: 1px solid white;
					height: 45px;
				}
			}
			tbody{
				margin-top: 20px;
				td{
					text-align: center;
				}
				tr{
					&:hover{
						background-color:#929da238;
					}
				}
			}
		}

		td{
			border: 1px solid white;
			height: 35px;
			a{
				color:white;
				font-size: 1em;
			}
			form{
				float:left;
			}
			button{
				background:none;
				color:white;
				border: none;
				font-size: 1em;
				cursor:pointer;

			}
		}
	}

}

	
.cmswrapper main form.userdetails-form{
	width: 100%;
		display:grid;
		grid-template-columns: 50% 50%;
		p{
			margin-top:20px;
		}
		input{
			width: 90%;
		}
		button{
				margin-top:40px;
				@include btn();
				width: 90%;
				
		}
		textarea{
		    width: 90%;
		    margin-top: 20px;
		    height: 200px;
		    background: $grey;
		}
}

.toggle {
  
}
.btn.refreshdata{
	@include btn();
	box-shadow: 0 0 20px 5px #00000052;
}
#column:hover {
  cursor: pointer;
}

.charts .content {
 	width:100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}


#column {
	width: 45%;
    background: #5988a269;
    padding: 1rem;
    margin: 1%;
    box-shadow: 0 0 7px #00000038;
    border-radius: 5px;
    .chart{
    	margin-top: 30px;
    }
    .onlineusers, .mostv-snippets{
	    border-bottom: 1px solid;
    	padding-bottom: 10px;
    	margin-top: 10px;

    	a{
    		color:white;
    	}
    }
    .mostv-snippets{
    	.count{
    		float:left;
    	}
    	.sname{
    		text-align: center;
    	}
    }
}
.deleteUser{
	@include btn();
	background:red;
	width: 100%;
}
.createUser{
	@include btn();
	width: 100%;
	margin-bottom: 20px;
}