@import 'variables';
@import 'mixins';
@import 'responsive';
@import 'fonts';
@import 'cmsapp';


//reset
*{
	box-sizing: border-box;
}
html{
	font-family: route159;
	font-size:16px;
	color:$darkgrey;
}
body, ul, li, p, h1, h2, h3, h4, h5, h6, section{
	margin: 0;
	padding: 0;
}


h1, h2, h3, h4, h5, h6{
	font-family: 'Greyscale';
}
ul li{
	list-style-type: none
}
img{
	max-width: 100%;
}
a{
	text-decoration:none;
	&::visited{
		color:white;
	}
}
.active{
	color:#ccc;
}
h1{
	text-transform:uppercase;
	color: $blue;
}
.clearfix::after{
	content:' ';
	clear: both;
	display: table;
}
code.hljs{
	background:$grey;
}
//styles
body .wrapper{
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 102%;
    background: #000000d1;
    z-index: 998;
    top: 0;
    left: 0
}
.more{
	text-align:center;
	@include btn();
	width: 36%;
	padding: 5px;
	float:left;

	margin-right: 10px;
	&.delete{
		background: #bc0707;
		cursor: pointer;
	}
	&::after{
		content: '';
		display:table;
	};
}
header {
	.nav{
		background:$darkgrey;
		height: 70px;
		line-height:70px;
		.logo{
			float: left;
			width: 25%;
			&::after{
				conten: ' ';
				display: table;
				clear:both;
			}
			img{
				padding-top:17px;
				width: 70%;
    			margin-left: 30px;
			}
		}
		.desktopnav.gst, .desktopnav.ngst{
			display:grid;
			grid-template-columns:130px 130px 400px 110px;
			justify-content:end;
			margin-right: 50px;
			&>li{
				text-align: center;
				text-transform:uppercase;
				a{
					color:white;
				}
			}
			button{
				display:none;
			}
		}
		.desktopnav.ngst{
			grid-template-columns:130px 130px 130px 400px 110px;
			
		}
		.desktopnav input{
			width: 100%;
			@include input();

		}
		//burger
		.mobile {
			display: none;
		    justify-content: flex-end;
		    align-items: center;
		    padding-right: 20px;
		    margin-right: 20px;
		    padding-top: 20px;

			a {  
			  cursor: pointer;
			  padding: 12px 0;
			  
			  span {
			    position: relative;
			    display: block;
			    width: 30px;
			    height: 3px;
			    background: #fff;
			    transition: all .2s ease-in-out;
			    margin:5px 0 5px 0;
			    &:before, &:after {
			      position: absolute;
			      background: #fff;
			      content: '';
			      width: 30px;
			      height: 3px;
			      transition: all .2s ease-in-out;
			    }
			    
			    &:before {
			      top: -8px;
			    }
			    
			    &:after {
			      top: 8px;
			    }
			  }
			}
			a.active {
		  		span {
		    		background: transparent;  
		    
			    &:before {
			      transform: rotate(45deg) translate(5px, 6px);
			    }
			    
			    &:after {
			      transform: rotate(-45deg) translate(5px, -6px);
			    }
			  }
			} 
		}
		.mobilenav{
			display: none;
			background: $darkgrey;
		    position: relative;
		    top: 13px;
			z-index: 999;
			margin-top: -20px;

		    li{
		    	text-align:center;
		    	line-height:40px;
		    	color: white;
		    	a{
	    			color: white;

		    	}
		    }
		}
	}
	.heroimg{
		background-image:url('../img/Hero-img.jpg');
		background-size:cover;
		background-repeat:no-repeat;
		height: 60vh;
		.heroimg-content{
			width: 50%;
			margin: 0 auto;
			h1{
				font-size:2.6em;
				color:white;
				padding-top: 150px;
				margin-bottom:70px;
				text-align:center;
				text-transform:uppercase;
			}
			input{
				float:left;
				margin-right: 10px;
				width: 35%;
				@include input();
			}
			.btn{
				@include btn();
			}
			.home-lregister{
				text-align: center;
				a{
				display: inline-block;
				margin-bottom:10px;
				text-align:center;
				width: 40%;
				}
				a.registerbtn{
					background:$grey;
					color:$darkgrey;
				}
			}
		}
	}
}
main{
	display: block;
    min-height: 100vh;
	section{
		margin-top:70px;
		width: 60%;
		margin: 60px auto 0px auto;
		h3{
			font-size:1.3em;
			margin-bottom:20px;
			text-align:center;
			text-transform: uppercase;
			&:after{
				content:' ';
			    display:block;
			    width: 100%;
			    max-width:150px;
			    border:2px solid $darkgrey;
			    margin: 10px auto;

			}
		}
		p{
			text-align:center;
			line-height:1.7;
			letter-spacing:1px;
			font-size:0.9em;
		}
		ul.benefits{
			margin-left:45px;
			&::after{
				content: '';
				display: table;
				clear:both;
			}
			li{
				float:left;
				width: 30%;
				margin-right:15px;
				.benefits-header{
					text-align:center;
					margin-bottom:15px;
					img{
						margin-bottom:20px;
					}
				}
			}
		}
	}
	section.signup{
		background: $darkgrey;
		width: 100%;
		height: 40vh;
		padding-top: 30px;
		h2, h3{
			color: white;
			margin:10px 0 10px 0;
		}
		.done{
			margin-top: 30px;
			text-align: center;
			i, span{
				color:white;
				font-size: 2em;
				margin:5px 20px 0 0 ;
			}
		}
		& > div{
			margin-top: 30px;
		}
		div{
			text-align: center;
			width: 60%;
			margin: 0 auto;
			input{
			@include input();
			width: 100%;
			margin-bottom:10px;
			margin-top:10px;
			}
			.btn{
				@include btn();
				width: 60%;
			}
			.verror{
				color:red;
				font-size: 17px;
			}
		}
		
	}
}
footer{
	background: $grey;
	color:$darkgrey;
	height:70px;
	line-height:70px;
	width: 100%;
	margin-top: 50px;
	position:absolute;
	div{
		float:left;
		padding-left:20px;
	}
	ul{
		display:grid;
		grid-template-columns:repeat(4, 90px);
		justify-content:end;
		li a{
			color: $darkgrey;
		}
	}
}
.snippets {
	.results{
		width: 60%;
		margin: 20px auto 60px auto;
	} 
	 
	main form{
		width: 50%;
		margin: 0 auto;
		input{
			@include input();
			width: 70%;
			background:$grey;
			border-radius: 2px;
			margin-top:20px;
		}
	}
	
	.snippets-list li{
		display:grid;
		grid-template-columns:250px 1fr 110px;
		width: 65%;
		margin: 0 auto;
		.snippet-user{
			text-align: center;
			margin-top:30px;
			&::after{
				content: '';
				display: table;
				clear:both;
			}
			img{
				max-width:60%;
				border-radius:150px;
			}
			span{
				margin-top:15px;
				color:$blue;
				font-size:1.45em;
			}
			.u-i{
				margin-top:10px;
			}
		}
		.snippet-body-wrapper{
			margin-bottom: 45px;

			.snippet-body{
			    border-radius: 4px;
			    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
			    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
			    background: #f2f2f4;
			    padding: 15px;
			    min-height: 250px;
			    overflow-x: auto;
			    .mobile-snippet{
					display: none;
					color:$blue;
					margin-top: 10px;
			    }
			}
    		small{
    			color:black;
    		}
			h3{
				text-align:left;
				color:$blue;
				margin-bottom:0;
				&::after{
					content: '';
					border: none;
				}
			}
			ul{
				margin: 20px auto 0 auto;
			}
			p{
				text-align:left;
				font-family:Inconsolata;
				margin-top:20px;
			}
			a{
				color:$darkgrey;
			}
		}
		.rating, .rating-m{
			.rates, .copy{
				font-size:20px;
				margin:15px 0 0 20px;
				width: 30px;
				span{
					cursor: pointer;
				}
				p{
					margin-left:4px;
				}
				img{
					margin:10px 0 10px 0;
				}
				p{
					color: $blue;
				}
			}
			.copy{
				margin-top:30px;
			}
			
		}
		.rating-m{
			display: none;
			.rates, .copy{float:left; width: 10%; margin-top: 20px;}
		}
	}
}
.snippet-detail{
	.detail{
		width: 50%;
		margin: 0 auto;
		margin-top:40px;
		h1{
			color:$blue;
			text-transform:uppercase;
		}
		.code{
			/*padding-top: 100px;
		    padding-bottom: 100px;*/
		    background: $grey;
		    margin-top:20px;
		    margin-bottom:20px;
			padding-left: 10px;
		    font-family: Inconsolata;
	     	border-radius: 4px;
    		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
		}
		
		.tags {
			margin-bottom:10px;
	    	border-radius: 4px;
	    	display:flex;
	    	flex-wrap: wrap;	
			p{
				a{
					color: $darkgrey;
					padding:10px;
					background:$grey;
					border-radius:5px;
					box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
					margin-right: 10px;
					margin-bottom: 15px;
					img{
						float:left;
						width: 30%;
						margin-right:5px;
						max-width:100%;
						margin-top:2px;
					}
				}
			}
		}
		.more{
			width:15%;
			margin-top: 20px;
			float: none;
		}
		.btns{
			display: flex;
		}
		form{
			width: 100%;
			.delete{
				width: 15%;
			}
		}

	}
}

.login, .register-card {
	border-radius: 2px;
	width: 90%;
	max-width: 370px;
	position: relative;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	border-radius: 2px;
	position: absolute;
	left: calc(50% - 160px);
	top: calc(50% - 260px);
  &-wrapper{
  	padding: 10px 20px 20px 20px;
	
  }


  h2{
  	margin-bottom: 10px;
	font-size: 2em;
	padding: 10px;
	background:$darkgrey;
	color: #fff;
  }
  .card-body{
  	padding: 20px;
  }
  input {
    @include input();
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ddd;
  }
  a {
   font-size: 0.8em;   
	color:$darkgrey;
  }
  .title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }
  button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: $blue;
    color: #fff;
    display: block;
    border: none;
    max-height: 60px;
    border: 0px solid rgba(0,0,0,0.1);
  	border-radius: 0 0 2px 2px;
    border-bottom-width: 7px;
    width: 100%;
    font-size:1em;
    cursor:pointer;
  }
}
  .registration{
    margin-top: 150px;
    margin-bottom: 200px;
	.register-card{
		max-width:500px;
		margin: 0 auto;
		position: initial;
		width: initial;
	}
	label{
		margin-bottom: 10px;
		display: inline-block;
	}
  }
.upload{
	form{
		width: 50%;
		margin-top: 20px;
		input, textarea, select{
			@include input();
			width: 100%;
			margin-bottom:10px;
		}
		select{
			background: #fff;
		}
		textarea{
			height: 300px;
		}
		input[type="file"]{
			border:none;
			width: 60%;
			margin-bottom:0;
		}
		button{
			@include btn();
			width: 60%;
		}
	}
}
.meine_snippets-list{
	width: 70%;
    grid-template-columns: repeat(auto-fill, 300px);
    display: grid;
    margin-left: 30px;
    grid-gap: 30px;
	margin: 0 auto;

	&:after{
		content: '';
		clear:both;
		display:table;
	}

}
.meine_snippets-list li{
	margin: 20px 0 20px 0;

	box-shadow: 0 1px 21px rgba(0, 0, 0, 0.09), 0 1px 2px rgba(0, 0, 0, 0.15);
	padding:10px;
	border-radius: 4px;
	height: 284px;
	transition: 0.5s;
	&:hover{
		box-shadow: 0 1px 21px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.24);
	}
	code{
		overflow: hidden;
		height: 140px;
	}

	.createsnippet{
		a{
			text-align: center;
			line-height: 284px;
		}
		i{
			font-size: 5em;
			color: $blue;
			transition: 0.5s;
		}
	}
}
.meine-snippets{
	.loader-dots{
		position: absolute;
		width: 85px;
		top: 20%;
		left: 45%;	

	}
	h3{
		color:$blue;
	}
	pre{
		height: auto;
	}

}

.snippet-body .snippet-name{
	color: $blue;
}
.file{
	margin-bottom: 20px;
	.code{
		margin-bottom: 0;
	}
}
.prf{
	font-size: 40px;
	margin-top: 15px;
}
header nav .dropdown-list{
	display: none;
    background: white;
    padding: 5px 0;
    position: absolute;
    width: 100px;
    top: 70px;
    right: 55px;
    box-shadow: 0px 0px 3px 0;
    z-index: 999;
	li a {
		color: $darkgrey !important;
	    display: block;
	    height: 25px;
	    line-height: 25px;
	    text-align: center;
	    margin: 10px 0 10px 0;
	}
	&:before {
		background: #fff;
		content: "";
		height: 8px;
		left: 50%;
	  	margin: -4px 0 0 -4px;
		position: absolute;
		top: 0;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		width: 8px;
	}
}
pre{
	display: grid;
}
.pf-wrapper{
  background: #fff;
  h3{
    font-size:2em;
    margin-top:0;
    margin-bottom:20px;
  }

  .profile{
    background:white;
    padding:20px;
    border-radius:5px;
    text-align: center;
    .profile-img{
    	width:25%;
    	text-align: center;
    	margin: 0 auto;
    	position:relative;
    	img{
	      	border-radius:100%;
	      	margin-bottom:20px;
    	}
    	.uploadimg{
    		position: absolute;
    		bottom: 50px;
    		color:#fff;
    		text-shadow: 0 3px black;
        	text-shadow: 2px 0px 3px #00000073;
        	right: 0;
        	font-size: 3em;
			cursor:pointer;
    	}
	}
    form{
    	width:100%;	
      &>div{
        margin-bottom:20px;
      }
      input, textarea{
        width: 30%;
        height:30px;
        border:#ccc;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 3px;
        margin-top:10px;
      }
      textarea{
      	height:200px;
      	background: #f2f2f4;
      }
      button{
        @include btn();
      }
    }
  }
  .pf-head{
    background: #cccccc2e;
    padding: 30px;
    width: 100%;
    height:340px;
    display:flex;
      .head-left{
        width: 40%;
        text-align: center;     
        img{
          border-radius:100px;
        }
        .head-followers{
        	margin-top: 15px;
        	a{
        		color:$darkgrey;
        	}
        }
      }
  	.unfollow-btn{
  		@include btn();
  		margin-top:15px;
  		background:red;
  		width: 160px;
  	}
  	.follow-btn{
	  	@include btn();
		margin-top:15px;
		background:$blue;
  		width: 160px;

  	}
  	.edit-btn{
  		@include btn();
		margin-top:15px;
		background:$blue;
  		width: 160px;
  		color:white !important;
  	}
    .head-txt{
        height:130px;
        line-height:30px;
      }
    }
  .between{
    font-size:5em;
    text-align:center;
    margin-top:20px;
    a{
      color:#001d35b5;
      margin-right:40px;
    }
  }
  .columns{
    grid-gap:30px;
    width: 70%;
    margin:60px auto 60px auto;
    .about, .bio {
		border-radius: 4px;
		padding:30px;
		background:#001d35b5;
		color:white;
		height:300px;
		overflow-y:auto;
    }
  }
  .pf-snippets{
  	width: 70%;
  	margin: auto;
  	  ul{
  	  	width: 100%;
		li{
			height: auto;
		}
	}
  }
	.tabs{
		display:flex;
		list-style:none;
		max-width:550px;
	  	margin: 0 auto;
	  	position: absolute;
	  	top: -54px;
    	left: 0;

		li{
			background:$grey;
			padding:15px;
			display: block !important;
			a{
				color:$darkgrey;
			}
			&:first-child{
					border-top-left-radius:4px;
			}
			&:nth-child(2){
			  border-top-right-radius:4px;
			}
			&:hover{
				background:$blue;
				a{
					color:white !important;
				}
			}

		}
		li.active{
			background: $blue;
			a{
				color:white !important;
			}
		}
	}
	.follower{
		display: none;
		position: absolute;
	    top: 15%;
	    width: 550px;
        left: calc(50% - 225px);
	    z-index: 9999;
	}

	.no-f{
		line-height: 1.6;
	}
	.f-users {
		width:550px;
		margin: 0 auto;
		background:$grey;
		height:650px;
		line-height:150%;
		position: absolute;
		left: calc(50% - 275px);
		top: calc(50% - 325px);
		z-index: 999;
		.followers-list, .following-list{
			overflow-y: auto;
			padding: 30px;
			height: 100%;
			width: 100%;
		}
		ul{
			list-style:none;
			position: absolute;
		li{
			display: grid;
			margin-bottom: 30px;
			grid-template-columns: 250px 100px 1fr;
			margin-bottom:30px;
			.profile_name, .profile_follow, .pf-followers{
				display: flex;
				flex-direction: column-reverse;
				justify-content: center;
				button.unfollow-btn{
					@include btn();
					width: 100%;
					background:red;
				}
				button.follow-btn{
					@include btn();
					width: 100%;
				}
		  }
		  a{
			color:$darkgrey;
		  }
			
			}
		}
		img{
			border-radius:50%;
			max-width:70%;
		}
	}
}

//loading


.loading-wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	background:#fff;

}
.loading{
	width:100px;
	height:100px;
	position: absolute;
	left:calc(50% - 50px);
	top:calc(40% - 50px);
}
.loading:before,
.loading:after{
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border: solid 5px $blue;
  content: "";
  border-radius: 50%;
}

.loading:before{
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
  animation: anim1 1s infinite linear;
}
.loading:after{
  left: -50px;
  top: -50px;
  width: 200px;
  height: 200px;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  animation: anim2 1s infinite linear;
}


@keyframes anim1{
  0%{transform:rotate(0deg);}
/*   50%{transform:rotate(180deg);} */
  100%{transform:rotate(-360deg);}
}
@keyframes anim2{
  0%{transform:rotate(0deg);}
/*   50%{transform:rotate(180deg);} */
  100%{transform:rotate(360deg);}
}

@keyframes anim3{
  0%{transform:rotate(45deg);}
/*   50%{transform:rotate(180deg);} */
  100%{transform:rotate(405deg);}
}

//loading button


.buttons button {
	@include btn();
	margin-top:15px;
	font-size: none;
	padding: 5px;
	width: 160px;
}
.load{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 5px dotted white;
	border-radius: 100%;
}
	
.open{
	border-top: 5px solid transparent;
	animation: load-animate infinite linear 1s;
}
	
@keyframes load-animate{
	0%{
		transform: rotate(0deg);
	}	
	50%{
		transform: rotate(180deg);
		opacity: .35;
	}
	100%{
		transform: rotate(360deg);
	}
}

//tooltip
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top:-45px;
  font-size: 16px;
}
.tooltip_views{
  top:-20px;

}

.tooltip:hover .tooltiptext, {
  visibility: visible;
}
.copy, .view{
	display:inline-block;
	margin-right: 5px;
	font-size:20px;
}
.loader-dots{
	margin-top:20px;
	span {
	  display: inline-block;
	  width:  15px;
	  height: 15px;
	  background-color: $darkgrey;
	  border-radius: 50%;
	  margin-right:10px;
	  animation: loading 0.8s ease-in-out infinite;
	}

	span:nth-child(2) {
	  animation-delay: 0.1s;
	}
	 span:nth-child(3) {
	  animation-delay: 0.2s;
	}
	span:last-child {
	  animation-delay: 0.3s;
	} 

	@keyframes loading {
	  0% {
	    transform: scale(1);
	    opacity:0.5;
	  }
	  50% {
	    transform: scale(1.4);
	    opacity:1;

	  }
	  100% {
	    transform: scale(1);
	    opacity:0.5;
	  }
	}
}
.copy span {
	cursor:pointer;
}
.home-lregister{
	text-align: center;
	a{
	display: inline-block;
	margin-bottom:10px;
	text-align:center;
	width: 40%;
	}
	a.registerbtn{
		background:$grey !important;
		color:$darkgrey !important;
	}
}
//Alerts
.alert{
    position: absolute;
    width: 800px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
    color: black;
    left: calc(50% - 400px);
    top: 20px;
    border-radius: 5px;
    color:$darkgrey;
}

.alert-success{
    background: #d4edda;
    border-color: #c3e6cb;
}
.alert-danger{
	background: #f8d7da;
}
.alert-warning{
	background: #fff3cd;
	border-color: #ffeeba
}
.alert-info{
	background: #cce5ff;
	border-color: #b8daff

}
.tokenwrapper{
	text-align: center;
	width: 400px; 
	margin: 0 auto;
	overflow: hidden;
	span{
	    display: inline-block;
	    height: 50px;
	    line-height: 50px;
	    background: #dfdfdf;
	    padding: 0 10px 0 10px;
	    margin-top: 20px;
	    border-radius: 3px;
	    box-shadow: inset 0 0 6px #0000002e;
	    width: 100%;
	}
	a{
		color:$blue;
	}
}
.socialmedia{
	margin:15px 0 15px 0;
	font-size:1.6em;
}
#about_me{
	width: 100%;
	height: 300px;
	margin-bottom:10px;
}
.invalid-feedback{
	color: red;
	display: inline-block;
	margin: 15px 0 15px 0;
}
.howto{
	width: 45%;
	margin: 0 auto;
	line-height: 2;
}