@media only screen and (max-width: 1174px) {
	header{
		nav{

			.desktopnav{
				grid-template-columns: 130px 130px 130px 35% 110px !important;
			}

		}
		.heroimg div.heroimg-content{
			h1{
				line-height:1.6;
			    font-size: 2.2em;
			    padding-top: 30px;
			}
			form input, .btn{
				width: 100%;
				margin-bottom:10px;
			}

		}

	}
	.wrapper main{
		section{
			.section-body {
				ul.benefits 
				{
					margin-left:0;
					li{
						float:none;
						width: 100%;
					}
				}
			}
		}
		section.signup{
			h2{
				margin-bottom:20px;
			}
			.signup-form{
				width: 70%;
				input, button{
					width: 100%;
				}
			}
		}
		ul.snippets-list {
			li{
				width: 100%;
				grid-template-columns: 30% 50%;

				.rating .rates, .rating .copy{
					width: 17px;
				}
				.rating{
					display:none;
				}
			}
			
		}
		.results, .search{
			width: 70%;
			input{
				width: 100%;
			}
		}
		.upload{
			width: 90%;
			form{
				width: 100%;
			}
		}
	}
	.nav-head{
		display:table;
		border-bottom: 1px solid #fff
	}
	.snippets-list{
		li{

		}
	}
	.snippets .snippets-list li .rating-m{
		display:block !important;
	} 

}
@media only screen and (max-width: 960px){

		header nav div.logo{

			width: 35% !important;
			a img{
				width: initial !important;
			}

		}
		ul.desktopnav{
			display: none !important;
		}
		div.mobile{
			display: flex !important;
		}
		
	.snippet-detail .detail{
		width: 80% !important;
	}
	.pf-wrapper .columns{
		grid-template-columns: initial !important;
	}
	.howto{
		width: initial !important;
		padding: 20px;
	}
}

@media only screen and (max-width: 760px){

	.footer-wrapper{
		width: 100% !important;
	}
	main section.signup div.newsletter-wrapper{
		width: 100%;
	}
	.heroimg .heroimg-content .home-lregister a{
		width: 100% !important;
	}
	.snippet-user{
		display:none;
	}
	ul.snippets-list {
		li{
			display: block !important;
			width: 90% !important;
			margin-left:10px !important;
			.mobile-snippet{
				display:block !important;
			}

		}
		
	}
	.head-txt{
		margin-left:20px;
	}

}
@media only screen and (max-width: 650px) {
	.wrapper footer{
		height: initial;
		div.copyright{
			float:none;
			padding: 0;
			text-align:center;
		}
		ul.footer-list{
			display: block;
			text-align:center;
			margin-top: 0;
			li{
				line-height:40px;
			}
		}
	} 
	header nav div.logo a img{
		max-width: 100%;
	}
	.snippet-detail .detail{
		width: 95% !important;
	}
	.snippet-detail .detail .btns a, .snippet-detail .detail form .delete{
		width: 50% !important;
	}
	.snippets .snippets-list li .rating-m .rates{
		width: 80px !important;
		margin-left:0 !important
	}
	
}
@media only screen and (max-width: 450px) {
	header nav div.logo{
		width: 45% !important;
	}

	.pf-wrapper .pf-snippets{
		width: 95% !important;
		margin-left: 10px !important;
	}
}

