@font-face{
	font-family:GreyscaleBold;
	src: url('../fonts/Greyscale/Greyscale_Basic_bold.ttf');
}
@font-face{
	font-family:route159Bold;
	src: url('../fonts/route-159/route-159-bold.otf');
}
@font-face{
	font-family:route159;
	src: url('../fonts/route-159/route159-regular.otf');
}
@font-face{
	font-family:Inconsolata;
	src: url('../fonts/Inconsolata/Inconsolata.otf');
}
@font-face{
	font-family:Greyscale;
	src: url('../fonts/Greyscale/Greyscale_Basic_Regular.ttf');
}