@mixin input(){
	padding: 10px;
	border: 0;
	border-radius:2px;
	font-size:1em;
	outline:none;
	color:$darkgrey;
	border: 1px solid #ccc;
}
@mixin btn(){
	width: 25%;
	padding: 10px;
	font-size:1.3em;
	border:none;
	border-radius:2px;
	background:$blue;
	color:white;
}