@import 'variables';
@import 'mixins';
@import 'responsive';

//reset
*{
	box-sizing: border-box;
}
html{
	font-family: route159;
	font-size:16px;
	color:$darkgrey;
}
body, ul, li, p, h1, h2, h3, h4, h5, h6, section{
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: Greyscale;
}
ul li{
	list-style-type: none;
}
img{
	max-width: 100%;
}
a{
	text-decoration:none;
	color:White;
	&::visited{
		color:white;
	}
}
.active{
	color:#ccc;
}
h1{
	text-transform:uppercase;
	color: $blue;
}
.clearfix::after{
	content:' ';
	clear: both;
	display: table;
}
//styles
header {
	nav{
		background:$darkgrey;
		height: 70px;
		line-height:70px;
		.logo{
			float: left;
			width: 25%;
			&::after{
				conten: ' ';
				display: table;
				clear:both;
			}
			img{
				padding-top:17px;
				width: 70%;
    			margin-left: 30px;
			}
		}
		

		.desktopnav{
			display:grid;
			grid-template-columns:repeat(5, 90px);
			justify-content:end;
			li{
				text-align: center;
				text-transform:uppercase;
			}
		}
		//burger
		.mobile {
			display: none;
		    justify-content: flex-end;
		    align-items: center;
		    padding-right: 20px;
		    margin-right: 20px;
		    padding-top: 20px;

			a {  
			  cursor: pointer;
			  padding: 12px 0;
			  
			  span {
			    position: relative;
			    display: block;
			    width: 30px;
			    height: 3px;
			    background: #fff;
			    transition: all .2s ease-in-out;
			    margin:5px 0 5px 0;
			    &:before, &:after {
			      position: absolute;
			      background: #fff;
			      content: '';
			      width: 30px;
			      height: 3px;
			      transition: all .2s ease-in-out;
			    }
			    
			    &:before {
			      top: -8px;
			    }
			    
			    &:after {
			      top: 8px;
			    }
			  }
			}
			a.active {
		  		span {
		    		background: transparent;  
		    
			    &:before {
			      transform: rotate(45deg) translate(5px, 6px);
			    }
			    
			    &:after {
			      transform: rotate(-45deg) translate(5px, -6px);
			    }
			  }
			} 
		}
		.mobilenav{
			display: none;
			background: $darkgrey;
		    position: relative;
		    top: 13px;
			z-index: 999;
			margin-top: -13px;
		    li{
		    	text-align:center;
		    	line-height:40px;
		    }
		}
	}
	.heroimg{
		background-image:url('../img/Hero-img.jpg');
		background-size:cover;
		background-repeat:no-repeat;
		height: 60vh;
		.heroimg-content{
			width: 50%;
			margin: 0 auto;
			h1{
				font-size:2.6em;
				color:white;
				padding-top: 150px;
				margin-bottom:70px;
				text-align:center;
				text-transform:uppercase;
			}
			input{
				float:left;
				margin-right: 10px;
				width: 35%;
				@include input();
			}
			.btn{
				@include btn();
			}
		}
	}
}
main{
	min-height: 775px;	
	position:relative;
	section{
		margin-top:70px;
		width: 60%;
		margin: 60px auto 0px auto;
		h3{
			font-size:1.3em;
			margin-bottom:20px;
			text-align:center;
			text-transform: uppercase;
			&:after{
				content:' ';
			    display:block;
			    width: 100%;
			    max-width:150px;
			    border:2px solid $darkgrey;
			    margin: 10px auto;

			}
		}
		p{
			text-align:center;
			line-height:1.7;
			letter-spacing:1px;
			font-size:0.9em;
		}
		ul.benefits{
			margin-left:45px;
			&::after{
				content: '';
				display: table;
				clear:both;
			}
			li{
				float:left;
				width: 30%;
				margin-right:15px;
				.benefits-header{
					text-align:center;
					margin-bottom:15px;
					img{
						margin-bottom:20px;
					}
				}
			}
		}
	}
	section.signup{
		background: $darkgrey;
		width: 100%;
		height: 40vh;
		form{
			color:white;	
			width:30%;
			margin: 0 auto;
			padding-top:70px;
			input{
				@include input();
				width: 100%;
				margin-bottom:10px;
				margin-top:10px;
			}
			button{
				@include btn();
				float:right;
			}
		}
	}
}
footer{
	background: $grey;
	color:$darkgrey;
	height:70px;
	line-height:70px;
	div{
		float:left;
		padding-left:20px;
	}
	ul{
		display:grid;
		grid-template-columns:repeat(4, 90px);
		justify-content:end;
		li a{
			color: $darkgrey;
		}
	}
}
.snippets {
	.results{
		width: 50%;
		margin: 20px auto 0 auto;
	}  
	form{
		width: 50%;
		margin: 0 auto;
		input{
			@include input();
			width: 70%;
			background:$grey;
			border-radius: 2px;
			margin-top:20px;
		}
	}
	ul{
		margin-top:40px;
	}
	.snippets-list{
		width:70%;
		margin: 0 auto;
		li{
			display:grid;
			grid-template-columns:250px 1fr 120px;
			.snippet-img{
				margin-right:20px;
				text-align: center;
				&::after{
					content: '';
					display: table;
					clear:both;
				}
				img{
					max-width:60%;
				}
			}
			.snippet-body{
				h3{
					text-align:left;
					color:$blue;
					margin-bottom:0;
					&::after{
						content: '';
						border: none;
					}
				}
				p{
					text-align:left;
					font-family:Inconsolata;
					margin-top:20px;
				}
				&:not(:last-child)::after{
				    content: " ";
				    display: block;
				    width: 100%;
				    border: 1px solid $grey;
				    margin: 10px auto;
				    margin-top: 50px;
	    			margin-bottom: 20px;
				}
				.more{
					text-align: center;
	    			font-family: route159;
	    			a{
						color:$darkgrey;
	    			}
				}
			}
			.rating{
				.rates, .copy{
					width: 30px;
					img{
						margin:10px 0 10px 0;
					}
				}
				.rates p{
					color: $blue;
				}
			}
		}
	}
}
.snippet-detail{
	.detail{
		width: 50%;
		margin: 0 auto;
		margin-top:40px;
		h1{
			color:$blue;
			text-transform:uppercase;
		}
		.code{
			padding-top: 100px;
		    padding-bottom: 100px;
		    background: $grey;
		    margin-top:20px;
		    margin-bottom:20px;
			padding-left: 10px;
		    font-family: Inconsolata;
	       
		}
		.tags {
			margin-bottom:20px;
			display:grid;
			grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
		    -moz-grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
		    -webkit-grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
		    grid-gap:15px;
			p{
				padding:10px;
				background:$grey;
				border-radius:5px;
				img{
					float:left;
					width: 30%;
					margin-right:5px;
					max-width:100%;
					margin-top:2px;
				}
			}
		}
	}
}

.login {
	border-radius: 2px;
	width: 90%;
	max-width: 320px;
	background: #ffffff;
	position: relative;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	margin: 0 auto;
	border-radius: 2px;
	width: 90%;
	max-width: 320px;
	background: #ffffff;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	position: absolute;
	left: calc(50% - 160px);
	top: calc(50% - 260px);
  &-wrapper{
  	padding: 10px 20px 20px 20px;
	
  }
  input {
    @include input();
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ddd;
  }
  a {
   font-size: 0.8em;   
	color:$darkgrey;
  }
  .title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }
  button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: $blue;
    color: #fff;
    display: block;
    border: none;
    max-height: 60px;
    border: 0px solid rgba(0,0,0,0.1);
  	border-radius: 0 0 2px 2px;
    border-bottom-width: 7px;
    width: 100%;
    font-size:1em;
    cursor:pointer;
  }
}
.upload{
	form{
		width: 50%;
		margin-top: 20px;
		input, textarea{
			@include input();
			width: 100%;
			margin-bottom:10px;
		}
		textarea{
			height: 300px;
		}
		input[type="file"]{
			border:none;
			width: 60%;
		}
		button{
			@include btn();
			width: 60%;
		}
	}
}
