@media only screen and (max-width: 760px) {
	header{
		nav{
			ul.desktopnav{
				display: none;
			}
			div.mobile{
				display: flex;
			}
			div.logo{
				width: 35%;
				a img{
					width: initial;
				}
			}
		}
		.heroimg div.heroimg-content{
			h1{
				line-height:1.6;
			    font-size: 2.2em;
			    padding-top: 30px;
			}
			form input, .btn{
				width: 100%;
				margin-bottom:10px;
			}

		}
	}
	.wrapper main{
		section{
			.section-body {
				ul.benefits li{
				float:none;
				width: 100%;
				}
			}
		}
		section.signup{
			h2{
				margin-bottom:20px;
			}
			.signup-form{
				width: 70%;
				input, button{
					width: 100%;
				}
			}
		}
		ul.snippets-list {
			li{
				grid-template-columns: 100px 1fr 50px;

				.rating .rates, .rating .copy{
					width: 17px;
				}
			}
			
		}
		.results, .search{
			width: 70%;
			input{
				width: 100%;
			}
		}
		.upload{
			width: 90%;
			form{
				width: 100%;
			}
		}
	}
	.nav-head{
		display:table;
		border-bottom: 1px solid #fff
	}
}


@media only screen and (max-width: 650px) {
	.wrapper footer{
		height: initial;
		div.copyright{
			float:none;
			padding: 0;
			text-align:center;
		}
		ul.footer-list{
			display: block;
			text-align:center;
			margin-top: 0;
			li{
				line-height:40px;
			}
		}
	} 
	
}

