@media only screen and (max-width: 1174px) {
  header nav .desktopnav {
    grid-template-columns: 130px 130px 130px 35% 110px !important;
  }

  header .heroimg div.heroimg-content h1 {
    line-height: 1.6;
    font-size: 2.2em;
    padding-top: 30px;
  }

  header .heroimg div.heroimg-content form input,
  header .heroimg div.heroimg-content .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .wrapper main section .section-body ul.benefits {
    margin-left: 0;
  }

  .wrapper main section .section-body ul.benefits li {
    float: none;
    width: 100%;
  }

  .wrapper main section.signup h2 {
    margin-bottom: 20px;
  }

  .wrapper main section.signup .signup-form {
    width: 70%;
  }

  .wrapper main section.signup .signup-form input,
  .wrapper main section.signup .signup-form button {
    width: 100%;
  }

  .wrapper main ul.snippets-list li {
    width: 100%;
    grid-template-columns: 30% 50%;
  }

  .wrapper main ul.snippets-list li .rating .rates,
  .wrapper main ul.snippets-list li .rating .copy {
    width: 17px;
  }

  .wrapper main ul.snippets-list li .rating {
    display: none;
  }

  .wrapper main .results,
  .wrapper main .search {
    width: 70%;
  }

  .wrapper main .results input,
  .wrapper main .search input {
    width: 100%;
  }

  .wrapper main .upload {
    width: 90%;
  }

  .wrapper main .upload form {
    width: 100%;
  }

  .nav-head {
    display: table;
    border-bottom: 1px solid #fff;
  }

  .snippets .snippets-list li .rating-m {
    display: block !important;
  }
}

@media only screen and (max-width: 960px) {
  header nav div.logo {
    width: 35% !important;
  }

  header nav div.logo a img {
    width: initial !important;
  }

  ul.desktopnav {
    display: none !important;
  }

  div.mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .snippet-detail .detail {
    width: 80% !important;
  }

  .pf-wrapper .columns {
    grid-template-columns: initial !important;
  }

  .howto {
    width: initial !important;
    padding: 20px;
  }
}

@media only screen and (max-width: 760px) {
  .footer-wrapper {
    width: 100% !important;
  }

  main section.signup div.newsletter-wrapper {
    width: 100%;
  }

  .heroimg .heroimg-content .home-lregister a {
    width: 100% !important;
  }

  .snippet-user {
    display: none;
  }

  ul.snippets-list li {
    display: block !important;
    width: 90% !important;
    margin-left: 10px !important;
  }

  ul.snippets-list li .mobile-snippet {
    display: block !important;
  }

  .head-txt {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .wrapper footer {
    height: initial;
  }

  .wrapper footer div.copyright {
    float: none;
    padding: 0;
    text-align: center;
  }

  .wrapper footer ul.footer-list {
    display: block;
    text-align: center;
    margin-top: 0;
  }

  .wrapper footer ul.footer-list li {
    line-height: 40px;
  }

  header nav div.logo a img {
    max-width: 100%;
  }

  .snippet-detail .detail {
    width: 95% !important;
  }

  .snippet-detail .detail .btns a,
  .snippet-detail .detail form .delete {
    width: 50% !important;
  }

  .snippets .snippets-list li .rating-m .rates {
    width: 80px !important;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 450px) {
  header nav div.logo {
    width: 45% !important;
  }

  .pf-wrapper .pf-snippets {
    width: 95% !important;
    margin-left: 10px !important;
  }
}

@font-face {
  font-family: GreyscaleBold;
  src: url(/fonts/Greyscale_Basic_Bold.ttf?b54665208c22047ccabc778a5f7a6f08);
}

@font-face {
  font-family: route159Bold;
  src: url(/fonts/route159-bold.otf?5ee0f9ac3d712aaac48d2a3b4a47ac08);
}

@font-face {
  font-family: route159;
  src: url(/fonts/route159-regular.otf?fe6a5fca682005e41261b5840657a719);
}

@font-face {
  font-family: Inconsolata;
  src: url(/fonts/Inconsolata.otf?821f8cdcb83ed47f51ee3eaa13984191);
}

@font-face {
  font-family: Greyscale;
  src: url(/fonts/Greyscale_Basic_Regular.ttf?7283e115000bb74d6f67968219227591);
}

body.cms {
  background: #f2f2f4;
}

.cmswrapper {
  width: 95%;
  margin: 41px auto;
  color: white;
}

.cmswrapper .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #2F3F48;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 15px black;
          box-shadow: 0 0 15px black;
  overflow: hidden;
}

.cmswrapper .left-nav {
  background-color: #21343D;
  color: #ffffff;
  padding: 16px;
  font-size: 1.3em;
  -webkit-box-shadow: 0 0 20px #00000061;
          box-shadow: 0 0 20px #00000061;
}

.cmswrapper .chevron {
  fill: #ffffff;
  width: 16px;
}

.cmswrapper .left-nav__title {
  padding: 8px;
  margin-top: 10px;
}

.cmswrapper .left-nav__title a {
  color: white;
}

.cmswrapper .content {
  width: 100%;
  padding: 20px;
}

.cmswrapper .content table {
  border-collapse: collapse;
  width: 100%;
}

.cmswrapper .content table thead th {
  border: 1px solid white;
  height: 45px;
}

.cmswrapper .content table tbody {
  margin-top: 20px;
}

.cmswrapper .content table tbody td {
  text-align: center;
}

.cmswrapper .content table tbody tr:hover {
  background-color: #929da238;
}

.cmswrapper .content td {
  border: 1px solid white;
  height: 35px;
}

.cmswrapper .content td a {
  color: white;
  font-size: 1em;
}

.cmswrapper .content td form {
  float: left;
}

.cmswrapper .content td button {
  background: none;
  color: white;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.cmswrapper main form.userdetails-form {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.cmswrapper main form.userdetails-form p {
  margin-top: 20px;
}

.cmswrapper main form.userdetails-form input {
  width: 90%;
}

.cmswrapper main form.userdetails-form button {
  margin-top: 40px;
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
  width: 90%;
}

.cmswrapper main form.userdetails-form textarea {
  width: 90%;
  margin-top: 20px;
  height: 200px;
  background: #f2f2f4;
}

.btn.refreshdata {
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px 5px #00000052;
          box-shadow: 0 0 20px 5px #00000052;
}

#column:hover {
  cursor: pointer;
}

.charts .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#column {
  width: 45%;
  background: #5988a269;
  padding: 1rem;
  margin: 1%;
  -webkit-box-shadow: 0 0 7px #00000038;
          box-shadow: 0 0 7px #00000038;
  border-radius: 5px;
}

#column .chart {
  margin-top: 30px;
}

#column .onlineusers,
#column .mostv-snippets {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-top: 10px;
}

#column .onlineusers a,
#column .mostv-snippets a {
  color: white;
}

#column .mostv-snippets .count {
  float: left;
}

#column .mostv-snippets .sname {
  text-align: center;
}

.deleteUser {
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
  background: red;
  width: 100%;
}

.createUser {
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: route159;
  font-size: 16px;
  color: #535353;
}

body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
section {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Greyscale';
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a::visited {
  color: white;
}

.active {
  color: #ccc;
}

h1 {
  text-transform: uppercase;
  color: #44adff;
}

.clearfix::after {
  content: ' ';
  clear: both;
  display: table;
}

code.hljs {
  background: #f2f2f4;
}

body .wrapper {
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 102%;
  background: #000000d1;
  z-index: 998;
  top: 0;
  left: 0;
}

.more {
  text-align: center;
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
  width: 36%;
  padding: 5px;
  float: left;
  margin-right: 10px;
}

.more.delete {
  background: #bc0707;
  cursor: pointer;
}

.more::after {
  content: '';
  display: table;
}

header .nav {
  background: #535353;
  height: 70px;
  line-height: 70px;
}

header .nav .logo {
  float: left;
  width: 25%;
}

header .nav .logo::after {
  conten: ' ';
  display: table;
  clear: both;
}

header .nav .logo img {
  padding-top: 17px;
  width: 70%;
  margin-left: 30px;
}

header .nav .desktopnav.gst,
header .nav .desktopnav.ngst {
  display: grid;
  grid-template-columns: 130px 130px 400px 110px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 50px;
}

header .nav .desktopnav.gst > li,
header .nav .desktopnav.ngst > li {
  text-align: center;
  text-transform: uppercase;
}

header .nav .desktopnav.gst > li a,
header .nav .desktopnav.ngst > li a {
  color: white;
}

header .nav .desktopnav.gst button,
header .nav .desktopnav.ngst button {
  display: none;
}

header .nav .desktopnav.ngst {
  grid-template-columns: 130px 130px 130px 400px 110px;
}

header .nav .desktopnav input {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  outline: none;
  color: #535353;
  border: 1px solid #ccc;
}

header .nav .mobile {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  margin-right: 20px;
  padding-top: 20px;
}

header .nav .mobile a {
  cursor: pointer;
  padding: 12px 0;
}

header .nav .mobile a span {
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 5px 0 5px 0;
}

header .nav .mobile a span:before,
header .nav .mobile a span:after {
  position: absolute;
  background: #fff;
  content: '';
  width: 30px;
  height: 3px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header .nav .mobile a span:before {
  top: -8px;
}

header .nav .mobile a span:after {
  top: 8px;
}

header .nav .mobile a.active span {
  background: transparent;
}

header .nav .mobile a.active span:before {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
}

header .nav .mobile a.active span:after {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px);
}

header .nav .mobilenav {
  display: none;
  background: #535353;
  position: relative;
  top: 13px;
  z-index: 999;
  margin-top: -20px;
}

header .nav .mobilenav li {
  text-align: center;
  line-height: 40px;
  color: white;
}

header .nav .mobilenav li a {
  color: white;
}

header .heroimg {
  background-image: url(/images/Hero-img.jpg?454f092f5ddb7e118c52aede79369cde);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

header .heroimg .heroimg-content {
  width: 50%;
  margin: 0 auto;
}

header .heroimg .heroimg-content h1 {
  font-size: 2.6em;
  color: white;
  padding-top: 150px;
  margin-bottom: 70px;
  text-align: center;
  text-transform: uppercase;
}

header .heroimg .heroimg-content input {
  float: left;
  margin-right: 10px;
  width: 35%;
  padding: 10px;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  outline: none;
  color: #535353;
  border: 1px solid #ccc;
}

header .heroimg .heroimg-content .btn {
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
}

header .heroimg .heroimg-content .home-lregister {
  text-align: center;
}

header .heroimg .heroimg-content .home-lregister a {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 40%;
}

header .heroimg .heroimg-content .home-lregister a.registerbtn {
  background: #f2f2f4;
  color: #535353;
}

main {
  display: block;
  min-height: 100vh;
}

main section {
  margin-top: 70px;
  width: 60%;
  margin: 60px auto 0px auto;
}

main section h3 {
  font-size: 1.3em;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

main section h3:after {
  content: ' ';
  display: block;
  width: 100%;
  max-width: 150px;
  border: 2px solid #535353;
  margin: 10px auto;
}

main section p {
  text-align: center;
  line-height: 1.7;
  letter-spacing: 1px;
  font-size: 0.9em;
}

main section ul.benefits {
  margin-left: 45px;
}

main section ul.benefits::after {
  content: '';
  display: table;
  clear: both;
}

main section ul.benefits li {
  float: left;
  width: 30%;
  margin-right: 15px;
}

main section ul.benefits li .benefits-header {
  text-align: center;
  margin-bottom: 15px;
}

main section ul.benefits li .benefits-header img {
  margin-bottom: 20px;
}

main section.signup {
  background: #535353;
  width: 100%;
  height: 40vh;
  padding-top: 30px;
}

main section.signup h2,
main section.signup h3 {
  color: white;
  margin: 10px 0 10px 0;
}

main section.signup .done {
  margin-top: 30px;
  text-align: center;
}

main section.signup .done i,
main section.signup .done span {
  color: white;
  font-size: 2em;
  margin: 5px 20px 0 0;
}

main section.signup > div {
  margin-top: 30px;
}

main section.signup div {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

main section.signup div input {
  padding: 10px;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  outline: none;
  color: #535353;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

main section.signup div .btn {
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
  width: 60%;
}

main section.signup div .verror {
  color: red;
  font-size: 17px;
}

footer {
  background: #f2f2f4;
  color: #535353;
  height: 70px;
  line-height: 70px;
  width: 100%;
  margin-top: 50px;
  position: absolute;
}

footer div {
  float: left;
  padding-left: 20px;
}

footer ul {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

footer ul li a {
  color: #535353;
}

.snippets .results {
  width: 60%;
  margin: 20px auto 60px auto;
}

.snippets main form {
  width: 50%;
  margin: 0 auto;
}

.snippets main form input {
  padding: 10px;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  outline: none;
  color: #535353;
  border: 1px solid #ccc;
  width: 70%;
  background: #f2f2f4;
  border-radius: 2px;
  margin-top: 20px;
}

.snippets .snippets-list li {
  display: grid;
  grid-template-columns: 250px 1fr 110px;
  width: 65%;
  margin: 0 auto;
}

.snippets .snippets-list li .snippet-user {
  text-align: center;
  margin-top: 30px;
}

.snippets .snippets-list li .snippet-user::after {
  content: '';
  display: table;
  clear: both;
}

.snippets .snippets-list li .snippet-user img {
  max-width: 60%;
  border-radius: 150px;
}

.snippets .snippets-list li .snippet-user span {
  margin-top: 15px;
  color: #44adff;
  font-size: 1.45em;
}

.snippets .snippets-list li .snippet-user .u-i {
  margin-top: 10px;
}

.snippets .snippets-list li .snippet-body-wrapper {
  margin-bottom: 45px;
}

.snippets .snippets-list li .snippet-body-wrapper .snippet-body {
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  background: #f2f2f4;
  padding: 15px;
  min-height: 250px;
  overflow-x: auto;
}

.snippets .snippets-list li .snippet-body-wrapper .snippet-body .mobile-snippet {
  display: none;
  color: #44adff;
  margin-top: 10px;
}

.snippets .snippets-list li .snippet-body-wrapper small {
  color: black;
}

.snippets .snippets-list li .snippet-body-wrapper h3 {
  text-align: left;
  color: #44adff;
  margin-bottom: 0;
}

.snippets .snippets-list li .snippet-body-wrapper h3::after {
  content: '';
  border: none;
}

.snippets .snippets-list li .snippet-body-wrapper ul {
  margin: 20px auto 0 auto;
}

.snippets .snippets-list li .snippet-body-wrapper p {
  text-align: left;
  font-family: Inconsolata;
  margin-top: 20px;
}

.snippets .snippets-list li .snippet-body-wrapper a {
  color: #535353;
}

.snippets .snippets-list li .rating .rates,
.snippets .snippets-list li .rating .copy,
.snippets .snippets-list li .rating-m .rates,
.snippets .snippets-list li .rating-m .copy {
  font-size: 20px;
  margin: 15px 0 0 20px;
  width: 30px;
}

.snippets .snippets-list li .rating .rates span,
.snippets .snippets-list li .rating .copy span,
.snippets .snippets-list li .rating-m .rates span,
.snippets .snippets-list li .rating-m .copy span {
  cursor: pointer;
}

.snippets .snippets-list li .rating .rates p,
.snippets .snippets-list li .rating .copy p,
.snippets .snippets-list li .rating-m .rates p,
.snippets .snippets-list li .rating-m .copy p {
  margin-left: 4px;
}

.snippets .snippets-list li .rating .rates img,
.snippets .snippets-list li .rating .copy img,
.snippets .snippets-list li .rating-m .rates img,
.snippets .snippets-list li .rating-m .copy img {
  margin: 10px 0 10px 0;
}

.snippets .snippets-list li .rating .rates p,
.snippets .snippets-list li .rating .copy p,
.snippets .snippets-list li .rating-m .rates p,
.snippets .snippets-list li .rating-m .copy p {
  color: #44adff;
}

.snippets .snippets-list li .rating .copy,
.snippets .snippets-list li .rating-m .copy {
  margin-top: 30px;
}

.snippets .snippets-list li .rating-m {
  display: none;
}

.snippets .snippets-list li .rating-m .rates,
.snippets .snippets-list li .rating-m .copy {
  float: left;
  width: 10%;
  margin-top: 20px;
}

.snippet-detail .detail {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
}

.snippet-detail .detail h1 {
  color: #44adff;
  text-transform: uppercase;
}

.snippet-detail .detail .code {
  /*padding-top: 100px;
		    padding-bottom: 100px;*/
  background: #f2f2f4;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: Inconsolata;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.snippet-detail .detail .tags {
  margin-bottom: 10px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.snippet-detail .detail .tags p a {
  color: #535353;
  padding: 10px;
  background: #f2f2f4;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
  margin-bottom: 15px;
}

.snippet-detail .detail .tags p a img {
  float: left;
  width: 30%;
  margin-right: 5px;
  max-width: 100%;
  margin-top: 2px;
}

.snippet-detail .detail .more {
  width: 15%;
  margin-top: 20px;
  float: none;
}

.snippet-detail .detail .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.snippet-detail .detail form {
  width: 100%;
}

.snippet-detail .detail form .delete {
  width: 15%;
}

.login,
.register-card {
  border-radius: 2px;
  width: 90%;
  max-width: 370px;
  position: relative;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  position: absolute;
  left: calc(50% - 160px);
  top: calc(50% - 260px);
}

.login-wrapper,
.register-card-wrapper {
  padding: 10px 20px 20px 20px;
}

.login h2,
.register-card h2 {
  margin-bottom: 10px;
  font-size: 2em;
  padding: 10px;
  background: #535353;
  color: #fff;
}

.login .card-body,
.register-card .card-body {
  padding: 20px;
}

.login input,
.register-card input {
  padding: 10px;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  outline: none;
  color: #535353;
  border: 1px solid #ccc;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.login a,
.register-card a {
  font-size: 0.8em;
  color: #535353;
}

.login .title,
.register-card .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.login button,
.register-card button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #44adff;
  color: #fff;
  display: block;
  border: none;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  border-bottom-width: 7px;
  width: 100%;
  font-size: 1em;
  cursor: pointer;
}

.registration {
  margin-top: 150px;
  margin-bottom: 200px;
}

.registration .register-card {
  max-width: 500px;
  margin: 0 auto;
  position: initial;
  width: initial;
}

.registration label {
  margin-bottom: 10px;
  display: inline-block;
}

.upload form {
  width: 50%;
  margin-top: 20px;
}

.upload form input,
.upload form textarea,
.upload form select {
  padding: 10px;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  outline: none;
  color: #535353;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 10px;
}

.upload form select {
  background: #fff;
}

.upload form textarea {
  height: 300px;
}

.upload form input[type="file"] {
  border: none;
  width: 60%;
  margin-bottom: 0;
}

.upload form button {
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
  width: 60%;
}

.meine_snippets-list {
  width: 70%;
  grid-template-columns: repeat(auto-fill, 300px);
  display: grid;
  margin-left: 30px;
  grid-gap: 30px;
  margin: 0 auto;
}

.meine_snippets-list:after {
  content: '';
  clear: both;
  display: table;
}

.meine_snippets-list li {
  margin: 20px 0 20px 0;
  -webkit-box-shadow: 0 1px 21px rgba(0, 0, 0, 0.09), 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 21px rgba(0, 0, 0, 0.09), 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 4px;
  height: 284px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.meine_snippets-list li:hover {
  -webkit-box-shadow: 0 1px 21px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 21px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.meine_snippets-list li code {
  overflow: hidden;
  height: 140px;
}

.meine_snippets-list li .createsnippet a {
  text-align: center;
  line-height: 284px;
}

.meine_snippets-list li .createsnippet i {
  font-size: 5em;
  color: #44adff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.meine-snippets .loader-dots {
  position: absolute;
  width: 85px;
  top: 20%;
  left: 45%;
}

.meine-snippets h3 {
  color: #44adff;
}

.meine-snippets pre {
  height: auto;
}

.snippet-body .snippet-name {
  color: #44adff;
}

.file {
  margin-bottom: 20px;
}

.file .code {
  margin-bottom: 0;
}

.prf {
  font-size: 40px;
  margin-top: 15px;
}

header nav .dropdown-list {
  display: none;
  background: white;
  padding: 5px 0;
  position: absolute;
  width: 100px;
  top: 70px;
  right: 55px;
  -webkit-box-shadow: 0px 0px 3px 0;
          box-shadow: 0px 0px 3px 0;
  z-index: 999;
}

header nav .dropdown-list li a {
  color: #535353 !important;
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 10px 0 10px 0;
}

header nav .dropdown-list:before {
  background: #fff;
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 8px;
}

pre {
  display: grid;
}

.pf-wrapper {
  background: #fff;
}

.pf-wrapper h3 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 20px;
}

.pf-wrapper .profile {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.pf-wrapper .profile .profile-img {
  width: 25%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.pf-wrapper .profile .profile-img img {
  border-radius: 100%;
  margin-bottom: 20px;
}

.pf-wrapper .profile .profile-img .uploadimg {
  position: absolute;
  bottom: 50px;
  color: #fff;
  text-shadow: 0 3px black;
  text-shadow: 2px 0px 3px #00000073;
  right: 0;
  font-size: 3em;
  cursor: pointer;
}

.pf-wrapper .profile form {
  width: 100%;
}

.pf-wrapper .profile form > div {
  margin-bottom: 20px;
}

.pf-wrapper .profile form input,
.pf-wrapper .profile form textarea {
  width: 30%;
  height: 30px;
  border: #ccc;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  margin-top: 10px;
}

.pf-wrapper .profile form textarea {
  height: 200px;
  background: #f2f2f4;
}

.pf-wrapper .profile form button {
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
}

.pf-wrapper .pf-head {
  background: #cccccc2e;
  padding: 30px;
  width: 100%;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pf-wrapper .pf-head .head-left {
  width: 40%;
  text-align: center;
}

.pf-wrapper .pf-head .head-left img {
  border-radius: 100px;
}

.pf-wrapper .pf-head .head-left .head-followers {
  margin-top: 15px;
}

.pf-wrapper .pf-head .head-left .head-followers a {
  color: #535353;
}

.pf-wrapper .pf-head .unfollow-btn {
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  background: red;
  width: 160px;
}

.pf-wrapper .pf-head .follow-btn {
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  background: #44adff;
  width: 160px;
}

.pf-wrapper .pf-head .edit-btn {
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  background: #44adff;
  width: 160px;
  color: white !important;
}

.pf-wrapper .pf-head .head-txt {
  height: 130px;
  line-height: 30px;
}

.pf-wrapper .between {
  font-size: 5em;
  text-align: center;
  margin-top: 20px;
}

.pf-wrapper .between a {
  color: #001d35b5;
  margin-right: 40px;
}

.pf-wrapper .columns {
  grid-gap: 30px;
  width: 70%;
  margin: 60px auto 60px auto;
}

.pf-wrapper .columns .about,
.pf-wrapper .columns .bio {
  border-radius: 4px;
  padding: 30px;
  background: #001d35b5;
  color: white;
  height: 300px;
  overflow-y: auto;
}

.pf-wrapper .pf-snippets {
  width: 70%;
  margin: auto;
}

.pf-wrapper .pf-snippets ul {
  width: 100%;
}

.pf-wrapper .pf-snippets ul li {
  height: auto;
}

.pf-wrapper .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  max-width: 550px;
  margin: 0 auto;
  position: absolute;
  top: -54px;
  left: 0;
}

.pf-wrapper .tabs li {
  background: #f2f2f4;
  padding: 15px;
  display: block !important;
}

.pf-wrapper .tabs li a {
  color: #535353;
}

.pf-wrapper .tabs li:first-child {
  border-top-left-radius: 4px;
}

.pf-wrapper .tabs li:nth-child(2) {
  border-top-right-radius: 4px;
}

.pf-wrapper .tabs li:hover {
  background: #44adff;
}

.pf-wrapper .tabs li:hover a {
  color: white !important;
}

.pf-wrapper .tabs li.active {
  background: #44adff;
}

.pf-wrapper .tabs li.active a {
  color: white !important;
}

.pf-wrapper .follower {
  display: none;
  position: absolute;
  top: 15%;
  width: 550px;
  left: calc(50% - 225px);
  z-index: 9999;
}

.pf-wrapper .no-f {
  line-height: 1.6;
}

.pf-wrapper .f-users {
  width: 550px;
  margin: 0 auto;
  background: #f2f2f4;
  height: 650px;
  line-height: 150%;
  position: absolute;
  left: calc(50% - 275px);
  top: calc(50% - 325px);
  z-index: 999;
}

.pf-wrapper .f-users .followers-list,
.pf-wrapper .f-users .following-list {
  overflow-y: auto;
  padding: 30px;
  height: 100%;
  width: 100%;
}

.pf-wrapper .f-users ul {
  list-style: none;
  position: absolute;
}

.pf-wrapper .f-users ul li {
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: 250px 100px 1fr;
  margin-bottom: 30px;
}

.pf-wrapper .f-users ul li .profile_name,
.pf-wrapper .f-users ul li .profile_follow,
.pf-wrapper .f-users ul li .pf-followers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pf-wrapper .f-users ul li .profile_name button.unfollow-btn,
.pf-wrapper .f-users ul li .profile_follow button.unfollow-btn,
.pf-wrapper .f-users ul li .pf-followers button.unfollow-btn {
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
  width: 100%;
  background: red;
}

.pf-wrapper .f-users ul li .profile_name button.follow-btn,
.pf-wrapper .f-users ul li .profile_follow button.follow-btn,
.pf-wrapper .f-users ul li .pf-followers button.follow-btn {
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
  width: 100%;
}

.pf-wrapper .f-users ul li a {
  color: #535353;
}

.pf-wrapper .f-users img {
  border-radius: 50%;
  max-width: 70%;
}

.loading-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
}

.loading {
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(40% - 50px);
}

.loading:before,
.loading:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border: solid 5px #44adff;
  content: "";
  border-radius: 50%;
}

.loading:before {
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
  -webkit-animation: anim1 1s infinite linear;
          animation: anim1 1s infinite linear;
}

.loading:after {
  left: -50px;
  top: -50px;
  width: 200px;
  height: 200px;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  -webkit-animation: anim2 1s infinite linear;
          animation: anim2 1s infinite linear;
}

@-webkit-keyframes anim1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  /*   50%{transform:rotate(180deg);} */
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes anim1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  /*   50%{transform:rotate(180deg);} */
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes anim2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  /*   50%{transform:rotate(180deg);} */
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes anim2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  /*   50%{transform:rotate(180deg);} */
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes anim3 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  /*   50%{transform:rotate(180deg);} */
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes anim3 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  /*   50%{transform:rotate(180deg);} */
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

.buttons button {
  width: 25%;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  background: #44adff;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  font-size: none;
  padding: 5px;
  width: 160px;
}

.load {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 5px dotted white;
  border-radius: 100%;
}

.open {
  border-top: 5px solid transparent;
  -webkit-animation: load-animate infinite linear 1s;
          animation: load-animate infinite linear 1s;
}

@-webkit-keyframes load-animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: .35;
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load-animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: .35;
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -45px;
  font-size: 16px;
}

.tooltip_views {
  top: -20px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.copy,
.view {
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
}

.loader-dots {
  margin-top: 20px;
}

.loader-dots span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #535353;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-animation: loading 0.8s ease-in-out infinite;
          animation: loading 0.8s ease-in-out infinite;
}

.loader-dots span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader-dots span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader-dots span:last-child {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }

  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }

  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
}

.copy span {
  cursor: pointer;
}

.home-lregister {
  text-align: center;
}

.home-lregister a {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 40%;
}

.home-lregister a.registerbtn {
  background: #f2f2f4 !important;
  color: #535353 !important;
}

.alert {
  position: absolute;
  width: 800px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 2em;
  color: black;
  left: calc(50% - 400px);
  top: 20px;
  border-radius: 5px;
  color: #535353;
}

.alert-success {
  background: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  background: #f8d7da;
}

.alert-warning {
  background: #fff3cd;
  border-color: #ffeeba;
}

.alert-info {
  background: #cce5ff;
  border-color: #b8daff;
}

.tokenwrapper {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.tokenwrapper span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background: #dfdfdf;
  padding: 0 10px 0 10px;
  margin-top: 20px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px #0000002e;
          box-shadow: inset 0 0 6px #0000002e;
  width: 100%;
}

.tokenwrapper a {
  color: #44adff;
}

.socialmedia {
  margin: 15px 0 15px 0;
  font-size: 1.6em;
}

#about_me {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

.invalid-feedback {
  color: red;
  display: inline-block;
  margin: 15px 0 15px 0;
}

.howto {
  width: 45%;
  margin: 0 auto;
  line-height: 2;
}

