@media only screen and (max-width: 760px) {
  header nav ul.desktopnav {
    display: none;
  }
  header nav div.mobile {
    display: flex;
  }
  header nav div.logo {
    width: 35%;
  }
  header nav div.logo a img {
    width: initial;
  }
  header .heroimg div.heroimg-content h1 {
    line-height: 1.6;
    font-size: 2.2em;
    padding-top: 30px;
  }
  header .heroimg div.heroimg-content form input, header .heroimg div.heroimg-content .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .wrapper main section .section-body ul.benefits li {
    float: none;
    width: 100%;
  }
  .wrapper main section.signup h2 {
    margin-bottom: 20px;
  }
  .wrapper main section.signup .signup-form {
    width: 70%;
  }
  .wrapper main section.signup .signup-form input, .wrapper main section.signup .signup-form button {
    width: 100%;
  }
  .wrapper main ul.snippets-list li {
    grid-template-columns: 100px 1fr 50px;
  }
  .wrapper main ul.snippets-list li .rating .rates, .wrapper main ul.snippets-list li .rating .copy {
    width: 17px;
  }
  .wrapper main .results, .wrapper main .search {
    width: 70%;
  }
  .wrapper main .results input, .wrapper main .search input {
    width: 100%;
  }
  .wrapper main .upload {
    width: 90%;
  }
  .wrapper main .upload form {
    width: 100%;
  }

  .nav-head {
    display: table;
    border-bottom: 1px solid #fff;
  }
}
@media only screen and (max-width: 650px) {
  .wrapper footer {
    height: initial;
  }
  .wrapper footer div.copyright {
    float: none;
    padding: 0;
    text-align: center;
  }
  .wrapper footer ul.footer-list {
    display: block;
    text-align: center;
    margin-top: 0;
  }
  .wrapper footer ul.footer-list li {
    line-height: 40px;
  }
}

/*# sourceMappingURL=responsive.css.map */
