<template>
    <div class="copy"  >
        <div class="tooltip">
          <span class="tooltiptext" v-if="copied"><i class="fas fa-check"></i> Copied</span>
          <span class="tooltiptext" v-else>Copy</span>
        <span 
            v-clipboard:copy="snippet"
            v-clipboard:success="onCopy"
            v-clipboard:error="onError" @mouseleave="copied = false"> <i class="far fa-copy"></i></span>
        </div>

    </div>
</template>
<script>
    export default {
        props : ['snippetid'],
        data (){
            return {
                copied : false,
                snippet : '',
                baseURL: '../api/',
            }
        },
        created(){
            this.fetchSnippets();
        },
       
        methods: {
            fetchSnippets(){
                fetch(this.baseURL + 'snippets')
                .then(res => res.json())
                .then(res => {
                   for (var i =0;i < res.data.length; i++) {
                        if (res.data[i].id == this.snippetid) {
                            this.snippet = res.data[i].snippet ;
                            break;
                        }
                    }
                })
            },
            onCopy: function (e) {
              this.copied = true;
            },
            onError: function (e) {
              alert('Failed to copy texts')
            }
        }
    };
</script>