<template>
  <div>
    <div class="buttons" v-if="loading">
      <button class="load-button">
        <span class="load open"></span>
      </button>
    </div>
    <div v-else> 
      <div>
        <a href="#" @click="showFollowers">Followers {{followers.length}}</a>
        <a href="#" @click="showFollowing">Following {{following.length}}</a>
      </div>
      <!-- if not auth user-->
      <div v-if="!isMe">
        <!-- if auth user follow this user -->
        <div v-if="isFollower == true">
          <button class="unfollow-btn" @click="postUnfollow"><i class="fas fa-user-minus"></i> Unfollow</button>
        </div>
        <!-- end if auth user follow this user -->
        <!-- if auth user doesnt follow this user -->

        <div v-else >
          <button class="follow-btn" @click="postFollow"><i class="fas fa-user-plus"></i> Follow</button>
        </div>
      </div>
        <!-- end if auth user doesnt follow this user -->

      <!--end if not authuser-->
      <!-- if auth user -->
      <div v-else style="margin-top:20px;">
        <a class="edit-btn" :href="authId + '/edit'"></i> Edit Profile</a>
      </div>
    </div>
    <!-- end if auth user -->
    <!-- overlay -->
    <div class="overlay" v-if="overlay" @click="closef"></div>
    <!-- end overlay -->
    <!-- following and followers from this user -->
    <div class="f-users" v-if="userFollowersShown">
      <ul class="tabs">
        <li v-bind:class="{ active: isActiveFollower }"> <a href="#" @click="showFollowers">Followers</a></li>
        <li v-bind:class="{ active: isActiveFollowing }"><a href="#" @click="showFollowing">Following</a></li>
      </ul>
      <ul class="followers-list" v-if="followersShown">
        <li v-for="f in followers">
          <div class="profile_img">
            <a :href="'/user/' + f.id">
              <img :src="f.profile_pic" alt="">
            </a>
          </div>
          <div class="profile_name">
            <p><a :href="'/user/' + f.id">{{f.firstname}} {{f.lastname}}</a></p>
          </div>
        </li>
      </ul>
      <ul class="following-list" v-if="followingShown">
        <li v-for="f in following">
          <div class="profile_img">
            <a :href="'/user/' + f.id">
              <img :src="f.profile_pic" alt="">
            </a>
          </div>
          <div class="profile_name">
            <p><a :href="'/user/' + f.id">{{f.firstname}} {{f.lastname}}</a></p>
          </div>
        </li>
      </ul>
    </div>  
    <!-- end following and followers from this user -->
  </div>

</template>

<script>
  export default {
      data (){
          return {
            followers: [],
            following: [],
            myfollowers: [],
            userId: document.querySelector("meta[name='id']").getAttribute('content'),
            authId: document.querySelector("meta[name='auth-id']").getAttribute('content'),
            loading: true,
            isFollower: false,
            isMe: false, 
            baseURL: '../api/',
            userFollowersShown: false,
            followersShown: false,
            followingShown: false,
            overlay: false,
            isActiveFollower: false,
            isActiveFollowing: false
          }
      },
      mounted(){
            this.fetchFollower();
            this.fetchFollowing();
            this.fetchMyFollowers();
      },
     
      methods: {
        fetchMyFollowers(){
           fetch(this.baseURL + 'myfollowers?id=' + this.authId)
            .then(res => res.json())
            .then(res => {

                this.myfollowers = res.data
                console.log(this.myfollowers);
                if (this.myfollowers.length > 0) {
                  for (var i = 0; i < this.myfollowers.length; i++) {
                    if (this.myfollowers[i].follower_id == this.userId) {
                      this.isFollower = true
                      break
                    }
                    else{
                      this.isFollower = false
                      break
                    }

                  }
                }
                else if (this.userId == this.authId) {
                  this.isMe = true
                }
                else{
                  this.isFollower = false
                }

            })
            .catch(err => console.log(err.message))
            .finally(() => this.loading = false)
        },

        fetchFollower(){
          fetch(this.baseURL + 'followers?id=' + this.userId)
          .then(res => res.json())
          .then(res => {
              this.followers = res.data
          })
          .catch(err => console.log(err.message))
        },

        fetchFollowing(){
            fetch(this.baseURL + 'following?id=' + this.userId)
            .then(res => res.json())
            .then(res => {
                this.following = res.data
            })
            .catch(err => console.log(err.message))
        },

        postFollow(){
          fetch(this.baseURL + 'follow/' + this.userId + "/" + this.authId,{
            method: 'POST',
            headers: {
              'content-type': 'application/json'
            }
          })
          .then(res => {
            this.fetchMyFollowers();
            this.fetchFollower();
            this.fetchFollowing();

            this.loading = true;
          })
          .catch(err => console.log(err))
          .finally(this.loading = false)
        },

        postUnfollow(){
          fetch(this.baseURL + 'unfollow/' + this.userId + "/" + this.authId,{
            method: 'POST',
            headers: {
              'content-type': 'application/json'
            }
          })
          .then(res => {
            this.fetchFollower();
            this.fetchFollowing();
            this.fetchMyFollowers();


            this.loading = true;

          })
          .catch(err => console.log(err))
          .finally(this.loading = false)
        },

        showFollowers(){
          this.userFollowersShown = true;
          this.followersShown = true;
          this.followingShown = false;
          this.overlay = true
          this.isActiveFollowing  = false;
          this.isActiveFollower  = true;

        },

        showFollowing(){
          this.userFollowersShown = true;
          this.followersShown = false;
          this.followingShown = true;
          this.overlay = true;
          this.isActiveFollowing  = true;
          this.isActiveFollower  = false;
        },
        closef(){
          this.userFollowersShown = false;
          this.followersShown = false;
          this.followingShown = false;
          this.overlay = false;

        }
      }
  };

</script>