<template>
	<div>
		 
		<div class="loader-dots" v-if="loading">
				<div class="loader-dots">
				  <span></span>
				  <span></span>
				  <span></span>
				</div>
		</div>
		<div v-else>
			<h1 class="results">
		      {{snippets.length }}
		      {{(snippets.lenght != 1 ? 'Snippets': 'Snippet')}} 
		    </h1>

			<ul class="meine_snippets-list" >
				<li :style="'display:' + display">
					<div class="snippet-body createsnippet" >
						<a href="/snippet/create">
							<div><i class="fas fa-plus-circle"></i></div>
						</a>

					</div>
				</li>
				<li v-for="snippet in snippets" >
					<div class="snippet-body">
						<h3 class="snippet-name">
							{{snippet.snippet_name}}
						</h3>
						<small>{{formatDate(snippet.created_at.date)}}</small>
							<a :href="'snippet/' + snippet.id">
								<pre><code :class="'language-' + snippet.language"> {{ snippet.short_snippet}}</code></pre> <!-- dont make a break after pre or code -->
							</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</template>
<script>
import moment from 'moment'

	export default {
        props : ['mysnippets'],
        data (){
            return {
                isActive : false,
                baseURL: '../api/',
                userId: document.querySelector("meta[name='id']").getAttribute('content'),
                authId: document.querySelector("meta[name='auth-id']").getAttribute('content'),
                snippets : '',
                loading: true,
                display: ''
            }
        },
        mounted(){
            this.fetchMySnippets();
        },
       
        methods: {
            fetchMySnippets(){
            	var s = this.mysnippets ? this.authId : this.userId;
            	
        		fetch(this.baseURL + 'mysnippets/' + s)
                .then(res => res.json())
                .then(res => {
                   this.snippets = res.data

                   this.display = this.mysnippets == 'true' ? 'block' : 'none'

                })
                .catch(err => console.log(err))
                .finally(() => this.loading = false)
            	
        	},
        	formatDate(date){
                if (date) {
                    return moment(date).startOf().fromNow()
                }
    		},
        },
           
    };
</script>