<template>
	<div>
		<div class="loader-dots" v-if="loading">
			<div class="loader-dots">
			  <span></span>
			  <span></span>
			  <span></span>
			</div>
		</div>
		<div class="done" v-if="done">

			<i class="far fa-check-circle"></i>
			<span>Thank you for registering to our Newsletter</span>
		</div>
		<div v-else class="footer-wrapper">
			<h2>Sign up to our Newsletter and get your our weekly news!</h2>
			<div class="newsletter-wrapper">
				<p class="verror">{{verror}}</p>
				<input type="email" placeholder="E-Mail" class="heroimg-input" name="email" v-model="email"> <br>
				<button class="loginbtn btn" @click="send">Sign up</button>

			</div>
		</div>
	</div>
</template>
<script>
	export default{
		data(){
			return {
				baseURL: '../api/',
				loading:false,
				email:'',
				done: false,
				verror : ''
			}
		},
		methods: {
			send(){
				this.verror = ''
				
				fetch(this.baseURL + 'newsletter/' + this.email, {
            		method: 'POST',
				})
				.then(res => {
					var regv = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

					if (this.email.match(regv) ) {
						this.done = true
					}
					else{
						this.verror = 'the E-Mail Format is not valid'
					}
				})
				.catch(err => console.log(err))
			}
		}
	};
</script>