<template>
    
    <div class="root snippets">
        <div class="loading-wrapper" v-if="loading">
            <div class="loading"></div>
        </div>
        <div v-else>
            <h1 class="results">
                {{snippets.length}} Snippets
            </h1>
            <ul class="snippets-list" >
                <li v-for="snippet in snippets">
                    <div class="snippet-user">
                        <a :href="'user/' + snippet.user.id"><img :src="snippet.user.profile_pic" alt=""></a>
                        <div class="u-i">
                            <a :href="'user/' + snippet.user.id">
                                <span>{{snippet.user.firstname}} </span><br>
                            </a>
                            <span>{{formatDate(snippet.created_at.date)}}</span>

                        </div>
                    </div>
                    <div class="snippet-body-wrapper">
                        <div class="snippet-body">
                            <h3>
                                {{snippet.snippet_name}}
                            </h3>
                            <small class="mobile-snippet">{{snippet.user.firstname}} {{snippet.user.lastname}}, {{formatDate(snippet.created_at.date)}}</small>
                            <a :href="'/snippet/' + snippet.id">
                                <pre><code class="snippet">{{snippet.short_snippet}}</code>
                                </pre>
                            </a>
                        </div>
                        <div class="rating-m">
                        <div class="copy"  >
                            <div class="tooltip">
                              <span class="tooltiptext" v-if="copied"><i class="fas fa-check"></i> Copied</span>
                              <span class="tooltiptext" v-else>Copy</span>
                            <span 
                                v-clipboard:copy="snippet.snippet"
                                v-clipboard:success="onCopy"
                                v-clipboard:error="onError" @mouseleave="copied = false"> <i class="far fa-copy"></i></span>
                            </div>

                        </div>
                        <div class="rates"> <span>{{snippet.viewcount}}</span>
                            <i class="far fa-eye"></i>
                        </div>

                    </div>
                    </div>

                     <div class="rating">
                        <div class="copy"  >
                            <div class="tooltip">
                              <span class="tooltiptext" v-if="copied"><i class="fas fa-check"></i> Copied</span>
                              <span class="tooltiptext" v-else>Copy</span>
                            <span 
                                v-clipboard:copy="snippet.snippet"
                                v-clipboard:success="onCopy"
                                v-clipboard:error="onError" @mouseleave="copied = false"> <i class="far fa-copy"></i></span>
                            </div>

                        </div>
                        <div class="rates"> <span>{{snippet.viewcount}}</span>
                            <i class="far fa-eye"></i>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
import moment from 'moment'

    export default {
        data (){
            return {
                snippets: [],
                loading: true,
                copied: false,
                upvoted: '',
                downvoted: '',
                authId: document.querySelector("meta[name='auth-id']").getAttribute('content'),
                baseURL: '../api/',
                votes: [],
            }
        },
        created(){
            this.fetchSnippets();
        },
       
        methods: {
            fetchSnippets(){
                fetch( this.baseURL + 'snippets')
                .then(res => res.json())
                .then(res => {
                    this.snippets = res.data;
                })
                .catch(err => console.log(err))
                .finally(() => this.loading = false)
            },
            
            formatDate(date){
                if (date) {
                    return moment(date).startOf().fromNow()
                }
            },
            onCopy: function (e) {
              this.copied = true;
            },
            onError: function (e) {
              alert('Failed to copy texts')
            }
        }
    };
</script>
