<template>
<div style="width:100%">

    <div style="text-align:right;margin-right:20px;">
        <button @click="refreshdata" class="btn refreshdata">Refresh Data</button>
    </div>
    <div class="content">

        <div id="column">
            
            <div id="service" class="toggle"><span>Uploaded Snippets From:</span>
                <div class="toggle chart">
                    <span class="red" style="width:40px; height:20px; background:#c0504e; display: inline-block;"></span> Web<br>
                    <span class="blue" style="width:40px; height:20px; background:#4f81bc; display: inline-block;"></span> Plugin
                    <br><br>
                   <div id="chartContainer"  style="height: 360px; width: 100%;"></div>

                </div>
            </div>
        </div>
         <div id="column">
            <div id="service" class="toggle"><span>Most Used Languages:</span>
                <div class="toggle chart">

                        <div id="LanguageChart"  style="height: 360px; width: 100%;"></div>

                </div>
            </div>
        </div>
         <div id="column">
            <div id="service" class="toggle"><span>User Online</span>
                <div class="toggle chart" >
                    <ul>
                        <li v-for="ouser in onlineUsers" class="onlineusers">
                            <i class="far fa-eye"></i> <a :href="'userdetail/' + ouser.id">{{ouser.firstname}} {{ouser.lastname}}</a>      
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="column">
            <div id="service" class="toggle"><span>Most Visited Snippets</span>
                <div class="toggle chart" >
                     <ul>
                        <li v-for="snippet in snippets" class="mostv-snippets">
                            <div class="count">
                            <i class="far fa-eye"></i> {{snippet.count}} </div>
                            <div class="sname"><a :href="'snippetdetail/' + snippet.id">{{snippet.snippetname}}</a>     </div> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
</template>

<script>

    export default {
        data () {
            return {
            baseUrl: '../api/',
            plugin: 0,
            web: 0,
            onlineUsers: [],
            snippets: [],
            chartOptions: {
                title: {
                text: "Uploaded Snippets"
              },
              data: [
                {
                  type: "pie",
                  dataPoints: [
                    { label:'Plugin', y: 0 }, 
                    {  label: 'Web', y: 0 }, 

                  ]
                }                   
              ],

            },
            langChartOption: {
                title: {
                text: "Most Used Languages"
              },
              data: [
                {
                  type: "doughnut",
                  dataPoints: [
                    {
                        label: 'JavaScript' , y: 0
                    },
                    {
                        label: 'Java' , y: 0
                    },
                    {
                        label: 'Python' , y: 0
                    },
                    {
                        label: 'Ruby' , y: 0
                    },
                    {
                        label: 'PHP' , y: 0
                    },
                    {
                        label: 'CSS' , y: 0
                    },
                    {
                        label: 'C++' , y: 0
                    },
                    {
                        label: 'C#' , y: 0
                    },
                    {
                        label: 'C' , y: 0
                    },
                    {
                        label: 'Visual Basic .NET' , y: 0
                    },
                    {
                        label: 'Perl' , y: 0
                    },
                    {
                        label: 'Swift' , y: 0
                    },
                    {
                        label: 'Objective-C' , y: 0
                    },

                  ],

                }                   
              ],
             
            },
            chart : null
          
            }
        },
        created(){
        },
        mounted(){
            this.fetchLanguages();
            this.fetchUploaded();
            this.fetchOnlineuser()
            this.fetchmostvisited()

        },
        methods: {
            fetchUploaded(){
                fetch(this.baseUrl + 'uploadedfrom')
                .then(res => res.json())
                .then(res => {
                    this.chartOptions.data[0].dataPoints[0].y = res.plugin
                    this.chartOptions.data[0].dataPoints[1].y = res.web
                    this.chart = new CanvasJS.Chart("chartContainer", this.chartOptions);
                    this.chart.render();

                });
            },
            fetchLanguages(){
                fetch(this.baseUrl + 'mostusedlanguages')
                .then(res => res.json())
                .then(res => {
                    let langvalues = Object.values(res)
                    for (var i = 0; i < langvalues.length; i++) {
                        this.langChartOption.data[0].dataPoints[i].y = langvalues[i];
                    }
                    this.chart = new CanvasJS.Chart("LanguageChart", this.langChartOption);
                    this.chart.render();
                    console.log(this.langChartOption)


                });
            },
            fetchOnlineuser(){
                fetch(this.baseUrl + 'loggedinusers')
                .then(res => res.json())
                .then(res => {
                this.onlineUsers = res.data;
                })
            },
            fetchmostvisited(){
                fetch(this.baseUrl + 'mostvisited')
                .then(res => res.json())
                .then(res => {
                    this.snippets = res.data;
                });

            },
            refreshdata(){
                this.fetchLanguages();
                this.fetchUploaded();
                this.fetchOnlineuser()
                this.fetchmostvisited()

            }
        },
    };

</script>